@font-face {
    font-family: 'regular',sans-serif;
    src: url(./YandexSansText-Regular.ttf);
}
@font-face {
    font-family: 'light',sans-serif;
    src: url(./YandexSansDisplay-Light.ttf);
}
@font-face {
    font-family: 'regular-italic',sans-serif;
    src: url(./YandexSansDisplay-RegularItalic.ttf);
}
@font-face {
    font-family: 'thin',sans-serif;
    src: url(./YandexSansDisplay-Thin.ttf);
}
@font-face {
    font-family: 'bold',sans-serif;
    src: url(./YandexSansText-Bold.ttf);
}
@font-face {
    font-family: 'medium',sans-serif;
    src: url(./YandexSansText-Medium.ttf);
}
