*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Gilroy1', sans-serif;
    outline: none;
    user-select: none;
}

img
{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.left
{
    max-width: 250px;
    max-height: 100vh;
    overflow: auto;
    padding: 0 20px;
}

.left::-webkit-scrollbar{
    background-color: #fff;
    box-shadow: 0 -2px 2px rgb(202, 200, 200);
}

.left::-webkit-scrollbar-thumb
{
    cursor: pointer;
    background-color: #D6D6D6;
}

.title .items p
{
    user-select: none;
    cursor: pointer;
    font-size: 13px;
    color: grey;
    margin: 10px 0;
    font-family: 'Gilroy1', sans-serif;
}

.title .items p:hover
{
    text-decoration: underline;
}
.title
{
    margin-bottom: 40px;
}

.left label
{
    font-size: 25px;
    font-weight: 600;
}

.left input
{
    padding: 7px 7px;
    border: none;
    box-shadow: 0 3px 6px #c1c1c2;
    border-radius: 7px;
}

.left .inpt
{
    margin-top: 10px;
}

#inpt
{
    margin-top: 10px;
}
.sale
{
    margin-top: 40px;
}
.sale span, p 
{   font-weight: 600;
    cursor: pointer;
}
.yes
{
    
    margin-right: 10px;
    color: #696969;
}

.no
{
    color: #696969;
}
.sale h3
{
    margin-bottom: 15px;
}

.warranty
{
    margin-top: 20px;
}

.performance
{
    margin-top: 20px;
}

.performance p
{
    margin: 7px 0;
    color: #696969;
}

.color-select
{
    display: flex;
    margin-top: 30px;
}

.color-select .item
{
    cursor: pointer;
    margin: 0 7px;
    box-shadow: 0 7px 3px #D6D6D6;
    transition: 500ms;
}

.scale
{
    transform: scale(1.1);
}

.color-select .item:nth-child(1)
{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #000;
}

.color-select .item:nth-child(2)
{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #656565;
}

.color-select .item:nth-child(3)
{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #fff;
}

.buttons 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
}

.buttons button
{
    width: 90%;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #0073FF;
}

.buttons button:nth-child(2)
{
    margin-top: 10px;
    background-color: #656565;
}


.header
{
    width: 70%;
    top: 5%;
    left: 20%;
    display: flex;
    position: absolute;
    align-items: center;
}

.header .img, form, .money
{
    margin-right: 15px;
}

.header .img .cart 
{
    position: relative;

}

.header .img .cart-counter, .cart-counter2
{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 12px;
    display: flex;
    font-size: 13px;
    align-items: center;
    color: #fff;
    font-weight: 600;
    justify-content: center;
    top: -4px;
    left: -5px;
    overflow: hidden;
}

.cart-counter2
{
    left: 33px;
}

.header form input
{
    padding: 8px 17px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px #D6D6D6;
}

.header form button
{
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0073FF;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.header form .find::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: -100%;
    transition: 0.5s  ease;
    /* border-radius: 4px; */
    z-index: -1;
}

.header form .find:hover::after
{
    top: 0%;
    left: 0%;
}
.header form .find:hover
{
    border: 1px solid #004dff ;
    color: #0073FF;
}
.header .money span
{
    font-weight: 600;
}

.box
{
    width: 80%;
    left: 20%;
    top: 15%;
    position: absolute;
}

.box .title h1
{
    font-size: 45px;
    color: #2b2e3f;
    margin-bottom: 40px;
}

.box .block
{
    width: 300px;
    height: 350px;
    box-shadow: -11px 6px 0px 2px #d6d6d6;
    border-radius: 10px;
    /* padding: 20px; */
    overflow: hidden;
    position: relative;
    margin: 10px 20px;
}

.wrapper
{
    display: flex;
    flex-wrap: wrap;
}

.block .top
{
    padding: 20px;
}

.box .block .item 
{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.box .block .item .span1
{
    font-weight: 600;
    color: #a19d9d;
}

.box .block .item .span3, .bottom span
{
    cursor: pointer;
    font-weight: 600;
    color: #0073FF;
}

.bottom
{
    position: relative;
}

.object-counter
{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 3px #a19d9d;
    display: none;
    padding: 5px 15px;
    position: absolute;
    top: -35px;
    left: 30%;
    align-items: center;
    justify-content: space-between;
    transition: 2s;
}

.object-counter1, .object-counter2, .object-counter3, .object-counter4
{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 3px #a19d9d;
    display: none;
    padding: 5px 15px;
    position: absolute;
    top: -35px;
    left: 30%;
    align-items: center;
    justify-content: space-between;
    transition: 2s;
}

.object-counter .object-quantity, .object-quantity1, .object-quantity2, .object-quantity2, .object-quantity3, .object-quantity4
{
    color: #004dff;
    font-size: 13px;
}


.object-counter .minus, .plus, .object-counter1 .minus, .plus, .object-counter2 .minus, .plus, .object-counter3 .minus, .plus3, .object-counter4 .minus, .plus3
{
    cursor: pointer;
    color: #004dff;
}

.flex
{
    display: flex;
}

.bottom span:hover
{
    text-decoration: underline;
}

.box .block .bottom .span3
{
    transform: translate(-50%);
    position: absolute;
    text-align: center;
    width: 100%;
    top: -20px;
    left: 50%;
}

.big-img
{
    margin-left: 2px;
    width: 99% !important;
    position: absolute !important;
    z-index: -1;
    height: 250px !important;
}

.off
{
    display: none !important;
}


.bottom .box-img    
{
    width: 100%;
    height: 300px;
}


.bottom .heart
{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 175px;
    z-index: 11;
    right: 7px;
    cursor: pointer;
}

.heart-active
{
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 12;
    top: 175px;
    right: 7px;
    cursor: pointer;
    display: none;
}

.heart-on
{
    display: block;
}

.hide
{
    display: none;
}

a
{
    color: #2B2E3F;
}

