@font-face {
    font-family: 'Gilroy1', sans-serif ;
    src: url(../fonts/Gilroy-Medium.ttf);
}
@font-face {
    font-family: 'Gilroy2', sans-serif;
    src: url(../fonts/Gilroy-Semibold.ttf);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    font-family: 'Gilroy1', sans-serif;
}

.left
{
    max-width: 250px;
    max-height: 100vh;
    overflow: auto;
    padding: 0 20px;
}

.left::-webkit-scrollbar{
    background-color: #fff;
    box-shadow: 0 -2px 2px rgb(202, 200, 200);
}

.left::-webkit-scrollbar-thumb
{
    cursor: pointer;
    background-color: #D6D6D6;
}

.title .items p
{
    user-select: none;
    cursor: pointer;
    font-size: 13px;
    color: grey;
    margin: 10px 0;
    transition: 300ms;
    font-family: Gilroy2, sans-serif;
}


.title .items p:hover
{
    color: #222;
    font-size: 13px;
    text-decoration: underline;
}

.center-box
{
    width: 60%;
    position: absolute;
    top: 50px;
    left: 280px;    
}
.center-box h1
{
    color: #2B2E3F;
    font-size: 45px;
}
.wrap
{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-auto-rows: 210px;
    grid-gap: 20px;
    padding: 50px 0;
}

.item
{
    position: relative;
    padding: 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    transition: 500ms;
    cursor: pointer;  
    box-shadow: 0 3px 6px #D6D6D6;
}

.item .menu-img img
{
    width: 100%;
    height: 300px;
}


.item-title
{
    margin-bottom: 50px;
}

.item-title h2
{

    margin-bottom: 15px;
    user-select: none;
}

.item-title p
{
    user-select: none;
    font-weight: bold;
    font-size: 15px;
    color: #8b8a8a;
}

.item:hover
{
    box-shadow: none;
}

a
{
    color: #000;
}